<div class="row">

  <div class="col-md-9">
    <div class="row ">
      <div class="col-md-12">
        <div class="ml-5">
          <div class="row d-flex justify-content-between m-3 border-bottom border-dark">
            <div class="h3 header-text-color" style="color: #ee9f1f"><span
              class="fa fa-bars"></span>&nbsp;<span >Bánh</span></div>
            <div class="d-flex">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div style="padding-left: 18%"
                  (click)="selectFile()" class="imgContainer">
          <img  class="imageEmp" id="avatar" src="{{product['imageUrl']}}" onerror="this.src = 'https://firebasestorage.googleapis.com/v0/b/webapp-1b736.appspot.com/o/58hvov18b5f?alt=media&token=bd216998-70e7-4c1b-9127-9cc1b1127278' ">
          <input class="file-upload-input" type='file'
                 (change)="readURL($event.target);" accept="image/*"
                 hidden id="image"/>
        </div>
        <br><br>
        <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#modal-delete-product" id="remove-cake" style="float: right">
          Xóa
        </button>

      </div>
      <div class="col-md-7">
        <form [formGroup]="productForm" (ngSubmit)="onSubmitEdit()" role="form">
        <div class="row">
          <div class="col-md-12" (click)="editable()">
            <h2 class="float-left" *ngIf="!isEditable">{{product.productName}}</h2>
            <input *ngIf="isEditable" type="text" class="form-control" formControlName="productName">
            <div *ngIf="productForm.get('productName').invalid && productForm.get('productName').touched">
              <i class="color-validate" *ngIf="productForm.get('productName').hasError('required')">Vui lòng phải điền tên mặt hàng</i>
            </div>
          </div>
        </div>
        <div class="row-cols-12" (click)="editable()">Thương hiệu:
          <span *ngIf="!isEditable">{{product.brand.brandName}}</span>
          <fieldset formGroupName="brand">
            <select *ngIf="isEditable" class="form-control col-form-label" formControlName="id">
              <option *ngFor="let brand of brandList" [ngValue]="brand.id"
                      [selected]="brand.id === productForm.value.brand.id">
                {{brand.brandName}}
              </option>
            </select>
          </fieldset>
        </div>
        <div class="row-cols-12" (click)="editable()">Đơn giá:
          <span class="" *ngIf="!isEditable">{{product.price}}</span>
          <br>
          <input *ngIf="isEditable" type="number" class="form-control" formControlName="price" style="">
          <div *ngIf="productForm.get('price').invalid && productForm.get('price').touched">
            <i class="color-validate" *ngIf="productForm.get('price').hasError('required')">Vui lòng phải nhập đơn giá</i>
            <i class="color-validate" *ngIf="productForm.get('price').hasError('pattern')">Vui lòng phải nhập đơn giá đúng định dạng (ví dụ: 10000)</i>
          </div>
        </div>
        <div class="row-cols-12 " (click)="editable()">Số lượng trong kho:
          <span class="" *ngIf="!isEditable">{{product.quantity}}</span>
          <br>
          <input *ngIf="isEditable" type="number" class="form-control" formControlName="quantity">

          <div *ngIf="productForm.get('quantity').invalid && productForm.get('quantity').touched">
            <i class="color-validate" *ngIf="productForm.get('quantity').hasError('required')">Vui lòng phải nhập số lượng</i>
            <i class="color-validate" *ngIf="productForm.get('quantity').hasError('pattern')">Vui lòng phải nhập số lượng đúng định dạng (ví dụ: 1000)</i>
          </div>
        </div>
        <div class="row-cols-12 ">
          Thông tin:
        </div>
          <div (click)="editable()">
        <textarea style="width: 800px;height: 300px" class="border border-dark" *ngIf="!isEditable">{{product.infor}}
        </textarea>
          <textarea style="width: 800px;height: 300px" class="form-control border border-dark" type=text *ngIf="isEditable" formControlName="infor"></textarea>
          </div>
          <button *ngIf="isEditable" type="submit" class="btn btn-success edit-customer-btn1">Sửa</button>
          <button *ngIf="isEditable" (click)="uneditable()" type="button" class="btn btn-secondary " >Hủy</button>

        </form>
      </div>
    </div>
    ​
  </div>
</div>
<form (ngSubmit)="OnDelete()">
  <div class="modal fade" id="modal-delete-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true"
       data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-danger" id="exampleModalLabelDelete">Xác Nhận Xóa Mặt Hàng</h4>
        </div>
        <div class="modal-body">
          <h5 class="my-3">
            Bạn có chắc xóa mặt hàng <span class="text-danger font-weight-bold">{{product.productName}}</span> không?
          </h5>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-danger button-dialog">Có</button>
          <button type="button" class="btn btn-secondary button-dialog" #closeDeleteModal data-dismiss="modal">Không
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
