<div class="container-fluid">
  <div class="row border-bottom border-dark w-auto">
    <div class="col-md-12 ">
      <table>
        <tr>
          <th><h1 class="display-4"><span class="fa fa-align-justify"></span></h1></th>
          <th><h1>Danh mục sản phẩm</h1></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Bánh</h1>
      <a href="#">Sản phẩm mới</a>
      <a class="ml-4" href="#">Sản phẩm bán chạy</a>
      <button class="float-right btn btn-primary">Xem tất cả</button>
      <button class="float-right btn btn-primary">Thêm mới</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 w-100 border-bottom border-dark" style="height: 350px">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Kẹo</h1>
      <a href="#">Sản phẩm mới</a>
      <a class="ml-4" href="#">Sản phẩm bán chạy</a>
      <button class="float-right btn btn-primary">Xem tất cả</button>
      <button class="float-right btn btn-primary">Thêm mới</button>
    </div>
  </div>
  <script>
    $('.multiple-items').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
  </script>
</div>
