<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
<div class="container">
  <div class="row">

    <div class="col-12 card-detail">

      <div class=" card-product">
        <div class="row">
          <div class="progress">
            <div class="step current" id="1">
              <span>1</span>
              <span>Đăng nhập</span>
            </div>
            <div class="current"></div>
            <div class="step current" id="2">
              <span>2</span>
              <span>Địa chỉ giao hàng</span>
            </div>
            <div class="current"></div>
            <div class="step current" id="3">
              <span>3</span>
              <span>Thanh toán và đặt mua</span>
            </div>
          </div>

        </div>
        <br>
        <div class="row">
          <p style="margin-bottom: 5px" class="font-weight-bolder">1. Chọn hình thức giao hàng</p>
        </div>
        <div class="row">
          <div class="col-md-8" style="padding: 0">
            <div class="payment-method">
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input id="shipping-now" name="shipping-method" value="shipping-now" type="radio"
                           class="custom-control-input"
                           (change)="onChecked('shipping-now')"
                           required>
                    <label class="custom-control-label" for="shipping-now">Giao ngay (2H - 3H)
                      <span
                        class="statusShippingNow"
                        style="visibility:visible"></span></label> <img
                    src="https://res-3.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1429107810/bfifoxufdoyn686etnzv.png"
                    alt=""
                    style="width: 40px; position: relative;left: 10px;bottom: 10px">
                  </div>
                  <div id="divShippingNow" class="collapse fade paypall">
                    <p class="shipping-method">Giao trước 12:00 hôm nay</p>
                    <span>Phí giao hàng: </span>
                    <span style="color: red; font-style: italic">  25.000đ</span>

                  </div>
                  <div class="custom-control custom-radio">
                    <input id="shipping-standard" name="shipping-method" type="radio" class="custom-control-input"
                           value="shipping-standard" checked
                           (change)="onChecked('shipping-standard')"
                           required>
                    <label class="custom-control-label" for="shipping-standard">Giao tiêu chuẩn <span
                      class="statusShippingStandard"
                      style="visibility:visible"></span></label>
                  </div>
                  <div id="divShippingStandard" class="collapse fade paypall">
                    <p class="shipping-method">Giao 3 ngày sau khi đặt hàng</p>
                    <span>Phí giao hàng: </span>
                    <span style="color: red; font-style: italic">  14.000đ</span></div>
                </div>
              </div>


            </div>
            <br>
            <p style="margin-bottom: 5px" class="font-weight-bolder">2. Chọn hình thức thanh toán</p>

            <div class="payment-method">
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input id="traditional" name="Regarding" type="radio" class="custom-control-input"
                           value="Thanh toán bằng tiền mặt khi nhận hàng"
                           [(ngModel)]="paymentMethod">
                    <label class="custom-control-label" for="traditional">Thanh toán bằng tiền mặt khi nhận
                      hàng<span class="statusOther"
                                style="visibility:visible"></span></label>
                  </div>
                  <br>
                  <div class="custom-control custom-radio">
                    <input id="paypal" name="Regarding" type="radio" class="custom-control-input"
                           value="Đã thanh toán bằng PayPal"
                           [(ngModel)]="paymentMethod">
                    <label class="custom-control-label" for="paypal">Thanh toán bằng PayPal <span
                      class="statusOther"
                      style="visibility:visible"></span></label>
                  </div>
                  <div id="divPaypal" class="collapse fade paypall">
                    <div [hidden]="paidFor" id="paypal-container"></div>


                  </div>
                  <br>
                  <div class="custom-control custom-radio">
                    <input id="momo" name="Regarding" type="radio" class="custom-control-input"
                           value="Đã thanh toán bằng ví điện tử MoMo"
                           [(ngModel)]="paymentMethod">
                    <label class="custom-control-label" for="momo">Thanh toán bằng Ví điện tử Momo <span
                      class="statusOther"
                      style="visibility:visible"></span></label>
                  </div>

                </div>
              </div>

            </div>
            <br>
            <button [hidden]="tempMoney===0" (click)="ordered()" class="btn btn-shipping">ĐẶT MUA</button>
          </div>
          <div class="col-md-4" style="padding: 0">
            <div class="row">
              <div class="card order-info">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div>
                      <label class="title" style="margin-bottom: 0">Địa chỉ giao hàng</label>
                      <a href="" [routerLink]="['/checkout/shipping']">
                        <button id="editAddress" style="float: right" class="btn btn-outline-secondary">Sửa</button>
                      </a>
                    </div>
                  </li>
                  <li *ngIf="guestOrder" class="list-group-item">
                    <h5 class="font-weight-bolder">{{guestOrder.receiver}}</h5>
                    <p style="font-size: 15px">Địa chỉ:  {{guestOrder.orderAddress}}</p>
                    <p style="font-size: 15px">SĐT: {{guestOrder.deliveryPhoneNumber}}</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="card order-info">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div>
                      <label> Đơn hàng (<span *ngIf="orderNow" style="color: red"
                                              class="font-weight-bolder">{{totalProduct}}</span> sản phẩm)</label>
                      <a href="" [routerLink]="['/checkout/card']">
                        <button style="float: right" class="btn btn-outline-secondary">Sửa</button>
                      </a>
                    </div>
                    <br>
                    <table *ngIf="orderNow" style="margin-bottom: 0;" class="table">
                      <tr *ngFor="let cart of orderNow">
                        <td style="width: 70%;font-size: 15px"><label
                          style="font-size: 15px;color: red">{{cart.quantity}} </label> x
                          <label style="color: dodgerblue">  {{cart.id.product.productName}}</label><br>
                          Cung cấp bởi: <span class="font-weight-bolder">{{cart.id.product.brand.brandName}}</span>
                        </td>
                        <td
                          style="font-size: 15px;text-align: right;vertical-align: top">{{cart.id.product.price|currency:'VND'}}</td>
                      </tr>
                      <tr>
                        <td style="font-size: 15px">
                          <p>Tạm tính</p>
                          Phí giao hàng
                        </td>
                        <td style="font-size: 15px;text-align: right">
                          <p>{{tempMoney|currency:'VND'}}</p>
                          <p>{{typeOfShipping.cost|currency:'VND'}}</p>
                        </td>
                      </tr>
                    </table>
                  </li>
                  <li class="list-group-item">
                    <div style="width:100px;float: left; font-weight: bold">
                      Tổng tiền
                    </div>
                    <div style="float: right">
                      <span style="font-size: 20px;color: red; font-weight: bold">{{totalMoney|currency:'VND'}}</span>
                      <span style="font-size: 15px"> ({{totalUSD|currency:'$'}})</span>

                      <p style="font-size: 15px; font-style: italic">(Đã bao gồm VAT)</p>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

