<div class="container mt-4">
  <div class="row px-0 py-0">
    <div class="col-6">
      <i class="fa fa-bars pt-2 dsp"></i><span class="dsp"> Danh sách phiếu </span>
    </div>
    <div class="col-6">
      <div class="row justify-content-end pr-3">
        <button class="btn btn-addnew mt-2">Thêm mới</button>
        <button class="btn btn-addnew mt-2 ml-2" (click)="deleteManyCoupon()">Xóa tất cả</button>
        <button hidden id="deleteMany" data-toggle="modal" data-target="#modalDeleteManyCoupon">Xóa tất cả</button>
      </div>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <form [formGroup]="searchCouponForm">
    <table>
      <tr>
        <td><label>Tên Nhân Viên:</label></td>
        <td>
          <input class="form-control employee" list="empoyee" name="myEmpoyee" formControlName="employee"/>
          <datalist id="empoyee">
            <ng-container *ngFor="let employee of employeeList">
              <option value="{{employee.name}}">{{employee.name}}</option>
            </ng-container>
          </datalist>
        </td>
        <td>
          <label>Ngày Nhập Từ:</label>
        </td>
        <td>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <input type="date" class="form-control fromdate" formControlName="createDateFrom">
            </div>
          </div>
        </td>
        <td><label class="ml-4"> </label></td>
        <td><label class="ml-5"> </label></td>
        <td colspan="2" rowspan="2">
          <button class="btn btn-addnew btn-loc ml-5" (click)="search()">Tìm Kiếm</button>
        </td>
      </tr>
      <tr>
        <td>
          <label>Tên Khách Hàng:</label>
        </td>
        <td>
          <input list="user" name="myUser" class="form-control user" formControlName="user"/>
          <datalist id="user">
            <ng-container *ngFor="let customers of customerList">
              <option value="{{customers.userName}}">{{customers.userName}}</option>
            </ng-container>
          </datalist>
        </td>
        <td>
          <label>Ngày Nhập đến:</label>
        </td>
        <td>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <input type="date" class="form-control fromto" formControlName="createDateTo">
            </div>
          </div>
        </td>
      </tr>
    </table>
  </form>
  <hr>
  <div>
    <ng-container *ngIf="couponList !== null">
      <table class="table">
        <thead class="thead">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Ngày Tạo Phiếu</th>
          <th scope="col">Tên Nhân Viên</th>
          <th scope="col">Tên Khách Hàng</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">
            <input type="checkbox" name="checkbox" id="checkAll" (click)="selectAllCheckBox($event)">
          </th>
        </tr>
        </thead>
        <tbody *ngFor="let coupon of couponList">
        <tr>
          <th scope="row">{{coupon.couponId}}</th>
          <td>{{coupon.createDate | date:'dd/MM/yyy'}}</td>
          <td>{{coupon.employee.name}}</td>
          <td>{{coupon.user.userName}}</td>
          <td>
            <button class="feature">
              <img class="icon" width="25px" height="auto"
                   src="https://cdn4.iconfinder.com/data/icons/eldorado-education/40/291332-pencil-256.png">
            </button>
          </td>
          <td>
            <button class="feature" (click)="deleteCoupon(coupon.couponId)"
                    data-toggle="modal" data-target="#modalDeleteCoupon">
              <img class="icon" width="25px" height="auto"
                   src="https://cdn4.iconfinder.com/data/icons/vectory-basic/40/recycle_bin_full-256.png">
            </button>
          </td>
          <td>
            <input type="checkbox" name="checkbox" [value]="coupon.couponId"
                   (change)="selectCheckBox($event,coupon.couponId)">
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <nav aria-label="Page navigation example">
            <ul class="pagination float-right mr-5">
              <!--          <li *ngIf="pageClicked>0" class="page-item" (click)="onFirst()"><a class="page-link">First</a></li>-->
              <li class="page-item" (click)="onPrevious()" [ngClass]="pageClicked==0?'disabled':''">
                <a class="page-link">Trang trước</a>
              </li>
              <li *ngIf="pageClicked != 0" class="page-item" (click)="getAllCoupon(pages[pageClicked-1])">
                <a class="page-link">{{pageClicked}}</a>
              </li>
              <li [ngClass]="(pageClicked == pages[pageClicked]) ? 'active' : ''" class="page-item"
                  (click)="getAllCoupon(pages[pageClicked])">
                <a class="page-link">{{pageClicked + 1}}</a>
              </li>
              <li *ngIf="pageClicked < pages.length -1" class="page-item" (click)="getAllCoupon(pages[pageClicked+1])">
                <a class="page-link">{{pageClicked + 2}}</a>
              </li>
              <li *ngIf="pageClicked < pages.length -3" class="page-item">
                <a class="page-link">...</a>
              </li>
              <li *ngIf="pageClicked < pages.length-2" class="page-item" (click)="onLast()">
                <a class="page-link">{{pages[pages.length - 1] + 1}}</a>
              </li>
              <li class="page-item" (click)="onNext()" [ngClass]="pageClicked==totalPages-1?'disabled':''">
                <a class="page-link">Trang kế</a>
              </li>
              <!--          <li class="page-item" (click)="onLast()"><a class="page-link">Last</a></li>-->
            </ul>
          </nav>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="couponList === null">
      <p class="text-center">Không tìm thấy phiếu nào phù hợp với dữ liệu nhập vào!</p>
    </ng-container>
  </div>
</div>

<!--Modal Delete-->
<div class="modal fade" id="modalDeleteCoupon" tabindex="-1" role="dialog"
     aria-hidden="true"
     data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger" id="exampleModalLabelDelete">Xác Nhận Xóa Phiếu</h4>
      </div>
      <div class="modal-body">
        <h5 class="my-3 text-center">
          Bạn có muốn xóa phiếu số <span class="text-danger font-weight-bold">{{couponId}}</span> ?
        </h5>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="onDelete()" class="btn btn-danger button-dialog">Có</button>
        <button class="btn btn-secondary button-dialog" #closeDeleteModal data-dismiss="modal">
          Không
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal Delete Many-->
<div class="modal fade" id="modalDeleteManyCoupon" tabindex="-1" role="dialog"
     aria-hidden="true"
     data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger">Xác Nhận Xóa Các Phiếu</h4>
      </div>
      <div class="modal-body">
        <h5 class="my-3 text-center">
          <span>Bạn có muốn xóa các phiếu đã chọn ?</span>
        </h5>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="onDeleteMany()" class="btn btn-danger button-dialog">Có</button>
        <button class="btn btn-secondary button-dialog" #closeDeleteManyModal data-dismiss="modal">
          Không
        </button>
      </div>
    </div>
  </div>
</div>
